*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SELETTORI DI TIPO */
html{
    font-family: 'Roboto', sans-serif;
    color: #33475B;
}
main{
}
p{
    padding-top: 15px;
    padding-bottom: 15px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 25px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* BARRA NAV */
nav{

    color:#374E5F;  
}
.nav-1{
    background-color: #F4F9FD;
    border-bottom: 1.5px solid #33475B;
}
.nav-2{
    background-color: white;
}
.earth-icon{
    width: 20px;
    height: 20px;
}
nav li{
    display: inline-block;
}
nav a{
    color:#33475B;
    border-left: 1px solid black ;
    margin-left: 25px;
    padding-left: 25px;
    text-decoration: none;
}
.nav-2 a{
    border:none;
}
nav img{
    vertical-align: middle;
}
.btn{
    border-radius: 5px;
}
nav .btn{
    padding: 10px;
    margin-left: 25px;
}
.nav-padding{
    padding: 30px 0px 30px 0;
    width: 100%;
}
select{
    font-size: 17px;
    border: none;
    background-color: #F4F9FD;
}
.arrow-down{
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
}
/* SECTION HERO */
.hero{
    background-image: url(img/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:center ;
    background-position-x: center;
    padding: 100px 0px 200px 0px;
}
.hero .col{
    width: 50%;
}
h2{
    font-size: 60px;
}
.hero p{
    padding: 25px 0px;
    font-size: 20px;
}
.hero .btn{
    padding: 25px;
    display: inline-block;
}
.hero-bottom-bar{
    background-color: #AFEBE4;
    height: 80px;
    border-top: 5px solid #33475B; ;
    border-bottom: 5px solid #33475B;
}

/* HUBS SECTION */
.hubs{
    width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #F4F9FD;
}
.integration-container{
    text-align: center;
}
.integration-container img{
    height: 250px;
}
.hubs-intro{
    text-align: center;
    width: 70%;
    margin: auto;
}
.hubs-intro h2{
    font-size: 45px;
    font-weight: 900;
}
.hubs p{
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 20px;
}
.free-hubspot-crm{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;

}
.learn-more div{
    text-align: center;
}
.learn-more .container{
    top: 0;
    left: 0;
    padding: 40px;
    transform: translateY(-50px);
}
.free-hubspot-crm .img-container{
    padding:35px;
}
.free-hubspot-crm .row{
    position: relative;
    padding:50px;
    padding-right: 100px;
}
.free-hubspot-crm .horizontal-line{
    width: 500px;
    margin-left: 35px;
    transform: translateY(15px);
    float: left;
}
.check-container{
    margin-top: 25px;
}
.free-hubspot-crm .check{
    display: inline-block;
    margin-left: 7px;
    margin-right: 25px;
}
/* LAYOUT A 3 COLONNE */
.hub-3-col{
    margin-top: 75px;
    text-align: center;
}

.hub-3-col .central{
    margin-left:  5%;
    margin-right: 5%;
}
.hub-3-col .top-col-img{
    height: 150px;
    width: auto;
}
.hub-3-col h3{
    margin-top: 25px;
}
.col-3{
    width: 30%;
    padding:50px;
}
.hub-3-col li{
    text-align: left;
}
.hub-3-col ul{
    margin-bottom: 25px;
    margin-top: 25px;
}
.hub-3-col h4{
    margin-bottom: 25px;
    margin-top: 25px;
}
.hub-3-col li{
    font-size: 20px;
}
.hub-3-col .checkmark{
    margin-right: 10px;
}
.hub-3-col .btn-container{
    position: relative;
    height: 100px;
}
.hub-3-col .btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-20%);
    width: 155px;
}
/* SECTION STATS */
.stats{
    background: #00baa8;
    background: linear-gradient(90deg, #00a7ba 0%, #00baa8 100%);
    padding: 100px 0px;
}
.section-header{
    color: white;
    text-align: center;
}
.stats h2{
    font-size: 40px;
}
.stats p{
    font-size: 17px;
    margin: 35px 0px;
}
.block-stats{
    color: white;
    border: 1px solid white;
    text-align: center;
    float: left;
    width: 25%;
    padding: 20px;
}
.icon-container{
padding: 10px;
}
.icon-container img{
    width: 100px;
    height:50px;
    
}
.data-number{
    display: inline-block;
   font-size: 50px;
   font-weight: 900;
   vertical-align: middle;
}
.plus{
    font-size: 25px;
    font-weight: 500;
    vertical-align: middle;
}
.data-description{
    padding: 10px;
}
/* TABLE STYLE */
.block-stats:nth-child(1),.block-stats:nth-child(5){
border-left: none;
}
.block-stats:nth-child(4), .block-stats:nth-child(6),.block-stats:nth-child(8){
    border-right: none;
}    
.block-stats:nth-child(1),.block-stats:nth-child(2),.block-stats:nth-child(3),.block-stats:nth-child(4){
border-top: none;
}
.block-stats:nth-child(5),.block-stats:nth-child(6),.block-stats:nth-child(7),.block-stats:nth-child(8){
    border-bottom: none;
}
/* CUSTOMERS SECTION */
.customers-number{
    font-size: 45px;
    font-weight: 900;
}
.customers-data-col{
    width: 40%;
}
.customers-logo-col{
    padding: 25px;
    width: 60%;
}
.customers-data-wrap{
    width: 40%;
    margin: auto;
}
.customers .row{
    padding: 100px 0px
}
.customers-description{
    font-weight: 500;
    margin: 17px 0px;
    line-height: 30px;
}
.logo-container{
    float: left;
    margin:10px;
    width: 150px;
    height:45px;
}
.logo-container img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
/* START HUBSPOT SECTION */
.start-hubspot{
    padding-top: 20px;
    padding-bottom: 75px;
}
.start-hubspot h2{
    font-size: 40px;
}
.start-hubspot p{
    margin: 30px 0;
    font-size:  20px;
}
.col-50{
    width: 50%;
}
.img-start-hubspot{
    height: 450px;
    position: absolute;
    right: 0;
    transform: translate(15%,-15%);


}
.person-img-container{
    position: relative;
}
/* FOOTER */
footer{
    padding: 25px;
    background-color: #32495b;
}
footer h4{
    color: white;
    font-weight: 700;
    font-size:  18px;
}
footer a{
    color: #cbd6e2;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
}
footer li{ 
    margin: 15px 0px;
    color: #cbd6e2;
}
footer .row ul{
    margin-top: 20px;
}
.col-4{
    padding:25px;
    width: 25%;
}
.inline{
    margin-right: 17px;
    display: inline-block;
}
.footer-icon-container{
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.footer-icon{
    vertical-align: middle;
    width: 100%;
    object-fit: cover;
}
.footer-bottom{
    font-weight: 500;
    color: white;
}
.footer-bottom .horizontal-line{
    border: 0.5px solid #cbd6e2;
    margin:25px 0px;
}
/* UTILITIES */
.btn-orange{
    color: white;
    background-color: #FE775A;
    border: #FE775A 1px solid; 
}
.btn-border{
    box-sizing: border-box;
    color: #FE775A;
    border: #FE775A 1px solid; 
}
.btn-white{
    box-sizing: border-box;
    background-color: #cbd6e2;;
    color:  #32495b;
    border: #cbd6e2 1px solid; 
    padding: 4px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix{
    content: none;
    display: table;
    clear: both;
}
.wrap{
    width: 1280px;
    margin: auto;
}
.width-100-perc{
    width: 100%;
}
.col{
    float: left;
} 
.w-70per{
    width: 70%;

}
.w-30per{
    width: 30%;

}
.card-style{
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px #DDDD;
}
.horizontal-line{
    border-bottom: 3px solid lightgray;
}
.checkmark{
    height: 17px;
    width: 17px;
    transform: translateY(2px);
}
.big-btn{
    display: inline-block;
    padding:20px 35px;
}
.padding-right{
    padding-right: 20px;
}
.info{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
}
.copyright{
    padding-top: 10px;
}
.text-align-center{
    text-align: center;
}
/* SELETTORI ID */
#linkedin{
    transform: translateY(-2px);
}
/* UTILITIES TEMPORANEE */
