*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* SELETTORI DI TIPO */
html{
    font-family: 'Roboto', sans-serif;
    color: #33475B;
}
/* BARRA NAV */
nav{

    color:#374E5F;  
}
.nav-1{
    background-color: #F4F9FD;
    border-bottom: 1.5px solid #33475B;
}
.nav-2{
    background-color: white;
}
.earth-icon{
    width: 20px;
    height: 20px;
}
nav a{
    color:#33475B;
    border-left: 1px solid black ;
    margin-left: 25px;
    padding-left: 25px;
    text-decoration: none;
}
.nav-2 a{
    border:none;
}
nav img{
    vertical-align: middle;
}
.btn{
    border-radius: 5px;
}
nav .btn{
    padding: 10px;
    margin-left: 25px;
}
.btn-orange{
    color: white;
    background-color: #FE775A;
    border: #FE775A 1px solid; 
}
.btn-white{
    box-sizing: border-box;
    color: #FE775A;
    border: #FE775A 1px solid; 
}
.nav-padding{
    padding: 30px 0px 30px 0;
    width: 100%;
}
select{
    border: none;
    background-color: #F4F9FD;
}
/* SECTION HERO */
.hero{
    background-image: url(img/jumbotron.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:bottom ;
    background-position-x: center;
    padding: 100px 0px 400px 0px;
}
.hero .col{
    float: left;
    width: 50%;
}
h1{
    font-size: 75px;
}
.hero p{
    padding: 25px 0px;
    font-size: 20px;
}

/* UTILITIES */
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clearfix{
    content: none;
    display: table;
    clear: both;
}
.wrap{
    width: 1024px;
    margin: auto;
}
.width-100-perc{
    width: 100%;
}
